<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true">

        <activity
            android:name=".BubbleTiltHomeActivity"
            android:exported="true" />

        <activity
            android:name=".InputDataBubbleTilt"
            android:exported="false"
            android:parentActivityName=".BubbleTiltHomeActivity" />

        <!-- Tambahkan Activity History BTM -->
        <activity
            android:name=".HistoryBtmActivity"
            android:exported="false"
            android:parentActivityName=".BubbleTiltHomeActivity"
            android:label="History BTM Data" />

    </application>

</manifest>