<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!-- Main Home Activity Right Piezo -->
        <activity
            android:name=".HomeRightPiezoActivity"
            android:label="Piezometer Sandaran Bendungan Kanan"
            android:exported="false" />

        <!-- Input Data Activity Right Piezo -->
        <activity
            android:name=".InputDataRightPiezo"
            android:label="Input Data Piezometer Kanan"
            android:exported="false" />

        <activity
            android:name=".HistoryRightPiezoActivity"
            android:label="History Piezometer Kanan"
            android:exported="false" />


    </application>
</manifest>